body {
    background-color: #121212;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50%;
}
.form-control, .form-check-input, .form-check-label, .form-check, .btn {
    border-color: #444;
    color: black;
}

.form-check-label{
    color: white;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
}
.form-control:focus {
    background-color: lightblue;
    border-color: #555;
}
.form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
.error {
    border-color: #ff293e !important;
    box-shadow: 0 0 0 0.2rem rgba(215, 20, 39, 0.785) !important;
}

.correct {
    border-color: #2aff5c !important;
    box-shadow: 0 0 0 0.2rem rgb(18, 255, 73) !important;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
  }
