body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #003028;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a,
h1 {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul.navbar {
    padding: 0;
    list-style: none;
}

header ul.navbar li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header nav {
    float: left;
    margin-top: 10px;
}

.profile-photo {
    border-radius: 50%;
    height: 170px;
    width: 140px;
}

.main-content {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}

h2 {
    border-bottom: 2px solid #e8491d;
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

ul {
    list-style: circle;
    padding: 0;
    margin-left: 10px;
}

ul li {
    margin: 5px 0px;
    padding: 10px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info p {
    margin: 5px 0;
}

.certifications {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.certifications img {
    width: 30%;
    height: auto;
    margin-bottom: 10px;
}

#achievements ul li {
    list-style: circle;
}
